In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
DATA_START = pd.to_datetime('2015-01-01')
DATASET_END = pd.to_datetime('2018-01-01')
NUM_SAMPLES = int(1e5)
MIN_APT_SIZE = 600

In [3]:
listing_dates = DATA_START + pd.to_timedelta(np.random.randint(0, 365*3, size=NUM_SAMPLES), unit='D')

In [4]:
house_qualities = np.random.exponential(size=NUM_SAMPLES)
years_since_remodel = np.random.exponential(scale=1e1,size=NUM_SAMPLES)
size_bonus = np.random.rand(NUM_SAMPLES) * 100
listing_price = np.clip(house_qualities * 400000 - years_since_remodel * 1000, 1000, None)

In [5]:
sqft = house_qualities * 1000 + size_bonus + MIN_APT_SIZE

In [6]:
bedroom_bonus = np.random.rand(NUM_SAMPLES) * 1000
bedrooms = np.floor(np.power((sqft + bedroom_bonus) * house_qualities // 300, .4))
#If more bedrooms per same space, fewer bathrooms can fit (hypothetical to make data more interesting)
bathroom_bonus = np.random.rand(NUM_SAMPLES) * 1000 * house_qualities - 1000 * bedrooms
bathrooms = np.floor(np.power(np.clip((sqft + bathroom_bonus) // 10, 0, None) + 1, .3))

In [7]:
#inspection

In [8]:
print('bedroom listing_price correlation,', np.corrcoef(bedrooms, listing_price)[0,1])

bedroom listing_price correlation, 0.9601735751001105

In [9]:
print('bathrooms listing_price correlation,', np.corrcoef(bathrooms, listing_price)[0,1])

bathrooms listing_price correlation, 0.3057127272654651

In [10]:
print('bedroom bathroom correlation,', np.corrcoef(bedrooms, bathrooms)[0,1])
print('bedroom min mean max', bedrooms.min(), bedrooms.mean(), bedrooms.max())
print('bathroom miin mean max',bathrooms.min(), bathrooms.mean(), bathrooms.max())

bedroom bathroom correlation, 0.12370833415798833
bedroom min mean max 0.0 1.51545 12.0
bathroom miin mean max 1.0 2.6779 8.0

In [11]:
(listing_dates - DATA_START).days.values.astype(float)

array([ 581.,   96.,  472., ...,  295., 1087.,  465.])

In [12]:
time_bonus = (listing_dates - DATA_START).days.values.astype(float)

In [13]:
bath_bed_penalty = bathrooms - bedrooms
bath_bed_ind = bathrooms > bedrooms

In [14]:
broker = np.random.randint(0, 2, NUM_SAMPLES)

In [15]:
sell_inv = bedrooms * bathrooms/bedrooms.std()/bathrooms.std() + bedrooms/bedrooms.std()
sell_inv += broker
sell_inv += time_bonus/time_bonus.std()
sell_inv += bathrooms/bathrooms.std() + sqft/sqft.std()
sell_inv += house_qualities*2
sell_inv += size_bonus/size_bonus.std()
sell_inv -= years_since_remodel/years_since_remodel.std()
sell_inv += np.random.rand(NUM_SAMPLES) + 10
sell_inv[bath_bed_ind] = sell_inv[bath_bed_ind] - bath_bed_penalty[bath_bed_ind]/2
sales_duration = np.floor(1/sell_inv * 3000).astype(int)

In [16]:
sales_duration.min(), sales_duration.mean(), sales_duration.std(), sales_duration.max()

(22, 139.38828, 40.206077881852636, 466)

In [17]:
sales_duration

array([141, 222, 152, ..., 184, 159, 155])

In [18]:
def plt_clipped(a):
    clip_max = np.percentile(a, 99)
    a = np.clip(a, a.min(), clip_max)
    #a = a[a < clip_max]
    plt.hist(a, bins=100)

In [19]:
sales_date = listing_dates + pd.to_timedelta(sales_duration,unit='D')

In [20]:
final_df = pd.DataFrame({'SalesDate':sales_date, 'ListingDate':listing_dates,
              'bedrooms':bedrooms,'bathrooms':bathrooms,'sqft':sqft,'years_since_remodel':years_since_remodel,
                        'broker': broker})

In [21]:
final_df.loc[final_df.SalesDate > DATASET_END, 'SalesDate'] = np.nan

In [22]:
cnt = 0
for ridx in np.random.choice(final_df.shape[0], final_df.shape[0]//6, replace = False):
    cnt += 1
    if cnt % 10000 == 0:
        print(cnt, cnt/final_df.shape[0]*6)
    if final_df.loc[ridx,'broker']:
        if np.random.rand() > .5:
            final_df.loc[ridx, 'sqft'] += 100
            final_df.loc[ridx, 'bedrooms'] = np.nan
        else:
            final_df.loc[ridx, 'bedrooms'] += 1
            final_df.loc[ridx, 'sqft'] = np.nan
    else:
        feature = np.random.randint(2, final_df.shape[1])
        final_df.iloc[ridx, feature] = np.nan
    final_df.loc[ridx,'broker'] = np.nan

10000 0.6000000000000001

In [23]:
final_df.to_csv('houselistings_simulated.csv')

In [24]:
final_df.isnull().sum()

ListingDate                0
SalesDate              11894
bathrooms               1581
bedrooms                5844
broker                 16666
sqft                    5971
years_since_remodel     1668
dtype: int64

In [25]:
final_df

,ListingDate,SalesDate,bathrooms,bedrooms,broker,sqft,years_since_remodel
0,2016-08-04,2016-12-23,3.0,2.0,NaN,NaN,0.394278
1,2015-04-07,2015-11-15,3.0,0.0,0.0,719.022093,7.305659
2,2016-04-17,2016-09-16,2.0,NaN,NaN,1265.584991,17.550252
3,2016-01-05,2016-05-19,1.0,3.0,0.0,2827.240245,29.689586
4,2016-04-28,2016-11-28,3.0,0.0,0.0,686.116778,4.670000
5,2016-07-22,2016-12-13,3.0,1.0,1.0,1207.184287,6.342823
6,2016-02-23,2016-06-27,1.0,3.0,0.0,2463.018617,15.050084
7,2017-03-29,2017-07-31,3.0,1.0,1.0,1368.532837,0.040317
8,2015-06-02,2015-10-22,1.0,2.0,0.0,1988.535751,12.507711
9,2017-03-13,2017-07-21,1.0,2.0,0.0,1718.652239,5.658188
10,2017-02-20,2017-07-16,1.0,2.0,1.0,1791.734494,20.302910
11,2017-05-28,2017-10-09,2.0,1.0,1.0,1057.541848,9.625971
12,2015-02-02,2015-05-18,3.0,2.0,1.0,2326.945539,6.535070
13,2017-12-07,NaT,3.0,0.0,1.0,800.421395,14.857972
14,2015-03-04,2015-08-03,3.0,1.0,1.0,1371.611678,0.746085
15,2017-07-02,2017-12-06,1.0,1.0,1.0,977.179876,1.062550
16,2015-12-03,2016-03-03,3.0,3.0,1.0,2503.227091,0.369460
17,2017-01-14,2017-06-28,2.0,1.0,0.0,1223.319059,17.558528
18,2016-07-09,2016-10-24,2.0,3.0,1.0,2368.212022,7.262696
19,2016-10-04,2017-01-14,2.0,3.0,1.0,2531.653027,1.872026
20,2016-04-16,2016-08-31,3.0,1.0,1.0,1310.741646,3.145737
21,2017-08-30,2017-10-22,5.0,5.0,0.0,4563.203737,5.287896
22,2016-10-14,2017-01-17,4.0,2.0,0.0,2316.058745,1.870003
23,2015-01-05,2015-05-01,1.0,3.0,0.0,2735.158175,9.384336
24,2017-10-29,NaT,2.0,3.0,1.0,2880.235570,12.714728
25,2017-12-22,NaT,3.0,1.0,1.0,1616.220543,15.482384
26,2015-09-28,2016-01-20,3.0,2.0,0.0,1676.223264,0.135350
27,2017-06-25,2017-12-30,NaN,0.0,NaN,816.272739,10.608993
28,2016-02-22,2016-09-23,3.0,0.0,0.0,738.836402,20.943767
29,2016-11-28,2017-05-06,1.0,1.0,1.0,867.918553,12.995941
...,...,...,...,...,...,...,...
99970,2015-06-27,2015-12-21,3.0,0.0,0.0,845.718961,6.894976
99971,2016-07-19,2016-09-11,5.0,6.0,NaN,NaN,4.195163
99972,2016-04-23,2016-06-25,5.0,4.0,1.0,3763.525329,2.461775
99973,2017-07-30,NaT,3.0,0.0,1.0,655.742846,7.719396
99974,2016-07-06,2016-11-14,1.0,2.0,1.0,1666.409219,1.658983
99975,2017-01-17,2017-05-06,1.0,3.0,1.0,2390.336965,5.072947
99976,2017-10-22,NaT,3.0,2.0,0.0,1834.694320,0.201787
99977,2015-06-08,2015-11-04,3.0,1.0,1.0,1362.023870,5.062998
99978,2017-05-05,2017-09-10,3.0,2.0,0.0,1733.587872,38.605048
99979,2017-02-20,2017-07-08,2.0,1.0,1.0,1185.740919,8.941899
99980,2017-10-17,NaT,2.0,1.0,1.0,1015.808765,7.529971
99981,2017-10-03,NaT,4.0,2.0,0.0,2092.594591,0.492354
99982,2016-05-25,2016-09-29,3.0,2.0,0.0,1717.699344,23.683209
99983,2017-05-16,2017-12-21,3.0,0.0,0.0,694.603830,42.150111
99984,2016-04-07,2016-09-19,3.0,0.0,0.0,822.563421,0.060139
99985,2015-12-22,2016-05-14,3.0,1.0,NaN,NaN,3.654542
99986,2015-03-01,2015-11-02,3.0,0.0,0.0,744.447902,10.121007
99987,2016-08-09,2016-11-18,2.0,NaN,NaN,2984.713712,16.414381
99988,2016-07-24,2016-12-08,3.0,NaN,NaN,1457.626563,0.167003
99989,2017-01-29,2017-08-02,4.0,0.0,1.0,918.419793,22.830122
99990,2016-11-03,2017-01-23,4.0,3.0,0.0,3017.651240,5.433046
99991,2017-09-12,2017-12-30,4.0,1.0,1.0,1380.154582,0.976215
99992,2015-03-06,2015-08-29,1.0,2.0,1.0,1606.285426,23.896058
99993,2015-03-06,2015-07-23,1.0,3.0,0.0,2547.178785,15.034313
99994,2017-05-21,2017-10-23,2.0,1.0,0.0,1091.707328,22.090483
99995,2015-11-26,2016-02-20,1.0,5.0,1.0,4611.983845,14.862146
99996,2016-03-02,2016-09-02,3.0,0.0,1.0,714.945256,13.438191
99997,2015-10-23,2016-04-24,3.0,0.0,1.0,826.835711,8.191972
99998,2017-12-23,NaT,2.0,1.0,0.0,915.786092,11.414925
99999,2016-04-10,2016-09-12,2.0,1.0,0.0,1042.566556,13.963490