In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
DATA_START = pd.to_datetime('2015-01-01')
DATASET_END = pd.to_datetime('2018-01-01')
NUM_SAMPLES = int(1e4)
MIN_APT_SIZE = 600

In [3]:
listing_dates = DATA_START + pd.to_timedelta(np.random.randint(0, 365*3, size=NUM_SAMPLES), unit='D')

In [4]:
house_qualities = np.random.exponential(size=NUM_SAMPLES)
years_since_remodel = np.random.exponential(scale=1e1,size=NUM_SAMPLES)
size_bonus = np.random.rand(NUM_SAMPLES) * 100
listing_price = np.clip(house_qualities * 400000 - years_since_remodel * 1000, 1000, None)

In [5]:
sqft = house_qualities * 1000 + size_bonus + MIN_APT_SIZE

In [6]:
bedroom_bonus = np.random.rand(NUM_SAMPLES) * 1000
bedrooms = np.floor(np.power((sqft + bedroom_bonus) * house_qualities // 300, .4))
#If more bedrooms per same space, fewer bathrooms can fit (hypothetical to make data more interesting)
bathroom_bonus = np.random.rand(NUM_SAMPLES) * 1000 * house_qualities - 1000 * bedrooms
bathrooms = np.floor(np.power(np.clip((sqft + bathroom_bonus) // 10, 0, None) + 1, .3))

In [7]:
#inspection

In [8]:
print('bedroom listing_price correlation,', np.corrcoef(bedrooms, listing_price)[0,1])

bedroom listing_price correlation, 0.9600911849420064

In [9]:
print('bathrooms listing_price correlation,', np.corrcoef(bathrooms, listing_price)[0,1])

bathrooms listing_price correlation, 0.3085766940277311

In [10]:
print('bedroom bathroom correlation,', np.corrcoef(bedrooms, bathrooms)[0,1])
print('bedroom min mean max', bedrooms.min(), bedrooms.mean(), bedrooms.max())
print('bathroom miin mean max',bathrooms.min(), bathrooms.mean(), bathrooms.max())

bedroom bathroom correlation, 0.12756635188813298
bedroom min mean max 0.0 1.503 9.0
bathroom miin mean max 1.0 2.6886 7.0

In [11]:
(listing_dates - DATA_START).days.values.astype(float)

array([1064.,  491.,  606., ...,  375., 1049.,  288.])

In [12]:
time_bonus = (listing_dates - DATA_START).days.values.astype(float)

In [13]:
bath_bed_penalty = bathrooms - bedrooms
bath_bed_ind = bathrooms > bedrooms

In [14]:
broker = np.random.randint(0, 2, NUM_SAMPLES)

In [15]:
sell_inv = bedrooms * bathrooms/bedrooms.std()/bathrooms.std() + bedrooms/bedrooms.std()
sell_inv += broker
sell_inv += time_bonus/time_bonus.std()
sell_inv += bathrooms/bathrooms.std() + sqft/sqft.std()
sell_inv += house_qualities*2
sell_inv += size_bonus/size_bonus.std()
sell_inv -= years_since_remodel/years_since_remodel.std()
sell_inv += np.random.rand(NUM_SAMPLES) + 10
sell_inv[bath_bed_ind] = sell_inv[bath_bed_ind] - bath_bed_penalty[bath_bed_ind]/2
sales_duration = np.floor(1/sell_inv * 3000).astype(int)

In [16]:
sales_duration.min(), sales_duration.mean(), sales_duration.std(), sales_duration.max()

(31, 139.5842, 40.41510745204075, 521)

In [17]:
sales_duration

array([198, 125, 113, ..., 157, 126, 166])

In [18]:
def plt_clipped(a):
    clip_max = np.percentile(a, 99)
    a = np.clip(a, a.min(), clip_max)
    #a = a[a < clip_max]
    plt.hist(a, bins=100)

In [19]:
sales_date = listing_dates + pd.to_timedelta(sales_duration,unit='D')

In [20]:
final_df = pd.DataFrame({'SalesDate':sales_date, 'ListingDate':listing_dates,
              'bedrooms':bedrooms,'bathrooms':bathrooms,'sqft':sqft,'years_since_remodel':years_since_remodel,
                        'broker': broker})

In [21]:
final_df.loc[final_df.SalesDate > DATASET_END, 'SalesDate'] = np.nan

In [22]:
cnt = 0
for ridx in np.random.choice(final_df.shape[0], final_df.shape[0]//6, replace = False):
    cnt += 1
    if cnt % 10000 == 0:
        print(cnt, cnt/final_df.shape[0]*6)
    if final_df.loc[ridx,'broker']:
        if np.random.rand() > .5:
            final_df.loc[ridx, 'sqft'] += 100
            final_df.loc[ridx, 'bedrooms'] = np.nan
        else:
            final_df.loc[ridx, 'bedrooms'] += 1
            final_df.loc[ridx, 'sqft'] = np.nan
    else:
        feature = np.random.randint(2, final_df.shape[1])
        final_df.iloc[ridx, feature] = np.nan
    final_df.loc[ridx,'broker'] = np.nan

In [23]:
final_df.to_csv('houselistings_simulated.csv', index=False)

In [24]:
final_df.isnull().sum()

ListingDate               0
SalesDate              1213
bathrooms               176
bedrooms                587
broker                 1666
sqft                    582
years_since_remodel     161
dtype: int64

In [25]:
final_df

,ListingDate,SalesDate,bathrooms,bedrooms,broker,sqft,years_since_remodel
0,2017-11-30,NaT,3.0,0.0,0.0,777.853473,18.286226
1,2016-05-06,2016-09-08,4.0,1.0,0.0,1439.250069,0.180356
2,2016-08-29,2016-12-20,2.0,2.0,0.0,2317.677075,5.395051
3,2016-07-28,2016-10-19,4.0,3.0,0.0,2813.819776,8.990012
4,2016-04-10,2016-08-18,3.0,1.0,1.0,1160.987039,1.999292
5,2016-04-09,2016-06-20,3.0,5.0,0.0,4343.837514,27.093239
6,2017-01-19,2017-07-17,1.0,1.0,0.0,819.997803,6.959834
7,2015-02-24,2015-09-21,3.0,NaN,NaN,785.901947,2.030773
8,2015-08-23,2015-12-28,3.0,1.0,1.0,1646.747844,7.042690
9,2017-03-20,2017-06-07,4.0,3.0,0.0,3054.795699,8.618617
10,2017-11-09,NaT,3.0,2.0,0.0,1830.016012,13.723425
11,2017-06-25,2017-11-07,3.0,1.0,1.0,1277.100639,3.340557
12,2016-06-27,2016-12-02,3.0,1.0,0.0,1386.400876,26.350567
13,2017-11-29,NaT,4.0,2.0,0.0,2107.733739,21.729264
14,2017-06-29,2017-12-01,3.0,0.0,1.0,825.753687,0.802357
15,2016-09-30,2017-02-28,3.0,1.0,0.0,1223.581857,15.084970
16,2016-05-03,2016-08-28,3.0,2.0,0.0,1769.432272,14.770240
17,2017-06-23,2017-12-14,3.0,0.0,0.0,858.090116,3.353402
18,2016-12-04,2017-04-12,3.0,1.0,1.0,1116.761140,10.777638
19,2015-03-30,2015-07-18,4.0,2.0,0.0,1985.670178,9.524991
20,2015-07-27,2016-01-19,2.0,1.0,0.0,1014.612444,9.093543
21,2016-07-30,2017-02-28,3.0,0.0,0.0,701.524217,7.152667
22,2017-03-11,2017-07-03,2.0,2.0,1.0,1537.424564,2.968785
23,2016-10-25,2017-04-09,2.0,1.0,0.0,1015.939599,13.891827
24,2016-10-17,2017-02-26,3.0,1.0,1.0,1347.628206,15.357993
25,2015-03-05,2015-08-16,2.0,1.0,1.0,1164.480498,1.891436
26,2016-03-17,2016-06-16,2.0,4.0,0.0,4063.740952,22.527892
27,2017-11-25,NaT,5.0,4.0,1.0,3847.226593,7.630978
28,2016-02-06,2016-07-04,2.0,1.0,1.0,900.270206,3.420007
29,2017-06-03,2017-09-29,3.0,1.0,1.0,1361.211571,2.660557
...,...,...,...,...,...,...,...
9970,2017-10-06,NaT,1.0,2.0,0.0,1571.988453,1.293219
9971,2015-12-11,2016-03-19,4.0,2.0,1.0,2035.506289,12.477082
9972,2015-09-13,2016-02-12,3.0,1.0,1.0,1401.565461,18.624406
9973,2016-04-26,2016-11-05,3.0,0.0,0.0,753.088824,13.447861
9974,2016-11-20,2017-03-25,1.0,3.0,0.0,2518.698717,18.631454
9975,2017-11-21,NaT,3.0,1.0,0.0,1551.613280,4.246880
9976,2017-04-23,2017-06-05,6.0,6.0,0.0,6305.650309,18.504061
9977,2016-02-07,2016-05-10,4.0,2.0,1.0,2268.508539,1.775885
9978,2015-11-13,2016-05-27,3.0,0.0,1.0,779.687772,17.261028
9979,2016-11-08,2017-01-31,4.0,3.0,0.0,2882.895088,11.625292
9980,2016-11-08,2017-03-26,3.0,1.0,0.0,1428.199614,22.911982
9981,2015-05-29,2015-11-03,1.0,1.0,1.0,943.197332,1.063925
9982,2015-05-19,2015-08-08,3.0,4.0,1.0,3098.929796,9.919392
9983,2015-07-16,2015-11-10,2.0,2.0,1.0,2039.923576,1.666253
9984,2016-12-14,2017-05-25,2.0,2.0,NaN,NaN,17.203707
9985,2015-10-03,2016-03-09,1.0,2.0,1.0,1453.802477,15.821943
9986,2017-10-23,NaT,1.0,3.0,0.0,2453.237984,5.113306
9987,2015-08-13,2016-01-12,2.0,1.0,1.0,1013.061149,7.115744
9988,2015-11-25,2016-05-01,2.0,NaN,NaN,1126.372876,7.406656
9989,2017-06-17,2017-10-09,1.0,NaN,NaN,2490.412991,6.967649
9990,2016-04-30,2016-10-03,NaN,1.0,NaN,1120.624615,11.319451
9991,2017-08-26,NaT,2.0,1.0,0.0,1083.283326,1.571254
9992,2016-12-27,2017-06-11,2.0,1.0,NaN,1071.882974,7.057658
9993,2015-03-20,2015-07-28,1.0,2.0,1.0,1831.013490,4.227044
9994,2016-03-18,2016-08-19,2.0,1.0,1.0,1157.589074,1.610736
9995,2016-07-30,2017-03-19,3.0,0.0,1.0,691.499976,33.729019
9996,2017-07-21,2017-12-07,3.0,1.0,0.0,1198.789106,1.567103
9997,2016-01-11,2016-06-16,1.0,2.0,NaN,NaN,1.454794
9998,2017-11-15,NaT,2.0,NaN,NaN,1321.533470,2.164749
9999,2015-10-16,2016-03-30,2.0,1.0,0.0,1059.616322,6.067369